build/
app/build/
buildSrc/build/
build-caches/
.DS_Store
.ci-reports/

android/build/
android/app/build/
android/buildSrc/build/
android/build-caches/
android/*.iml
android/.gradle/
android/.idea/
android/.DS_Store
android/captures/
android/.sun-ci-reports/
android/app/.gradle/
android/app/src/main/assets/crashlytics-build.properties
android/app/src/main/res/values/com_crashlytics_export_strings.xml
android/local.properties

--split-per-abi/
